.style-switcher{
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #d4d4e3;
    border-right: none;
    transform: translateX(100%);
    transition: .3s ease;
}
.style-switcher.open{
    transform: translateX(0%);

}

.style-switcher h5{
    font-size: 16px;
    color: #302e4d;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8dfec;
}

.style-switcher ul{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.style-switcher ul li{
    display: inline-block;
}
.style-switcher ul li a{
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 50%;
    margin-right: 2px;
}

.toggle-style-switcher{
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: #fff;
    left: -46px;
    top: -1px;
    text-align: center;
    border: 1px solid #d4d4e3;
    border-right: none;
    border-radius: 0 0 0 5px;
    cursor: pointer;
    z-index: 100;
}
.toggle-style-switcher .fa{
    font-size: 20px;
    line-height: 45px;
}

.style-switcher h4{
    font-size: 16px;
    color: #302e4d;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8dfec;
}